<div class="main">
  <!--  drag and drop card start-->
  <div class="example-box" cdkDrag mat-card-avatar color="accent">
<!--    drag by clicking on title-->
    <div class="example-handle" cdkDragHandle>
      <h1 class="mat-headline">Temperature Converter</h1>
    </div>
<!--    drag by clicking title section ends-->

    <hr class="horizontalLine">
    <div>
      <div class="form-section">
        <section>
          <label>
            <sup>o</sup>C
          </label>
          <input [(ngModel)]="degC" (ngModelChange)="toFahrenheit($event)" type="number">
        </section>
        <section>
          <label>
            <sup>o</sup>F
          </label>
          <input [(ngModel)]="degF" (ngModelChange)="toCelsius($event)" type="number">
        </section>
      </div>
    </div>
    <hr class="horizontalLine">
    <p class="textFooter">Click and hold title to drag anywhere.</p>
  </div>
  <!--  drag and drop card end-->
</div>

